.bold24{
    font-weight: bold;
    font-size: 24px;
}
.bold21{
    font-weight: bold;
    font-size: 21px;
}
.btn{
    color:white;
    border-radius: 30px 10px;
    padding: 5px 20px;
}
.btn-danger{
    background-color:rgb(212, 74, 74)
}
.btn-success{
    background-color:rgb(3, 136, 3)
}
.txt{
    border-radius: 10px;
    color:rgb(124, 73, 7);
    text-align: center;
}
.txt-danger{
    color:rgb(212, 74, 74);
}
.txt-success{
    color:rgb(3, 136, 3)
}
.txt-primary{
    color:rgb(100, 100, 161)
}